:root{
    --vermelho: #E50914;
    --preta: #141414;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}
header .container nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}
header .container nav a:hover{
    color: #fff;
}

main .main-film{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url('../images/rickemorty.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  
}
main .main-film .description{
    margin-bottom: 40px;
    margin-top: 10px;

}
.title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
button:hover{
    background-color: white;
    color: black;
}
button i{
    margin-right: 8px;
}
.container{
    margin-left: 20px;
}
@media screen and (max-width: 700px) {
    header.container{
        display: flex;
        flex-direction: column;
    }
    button{
        margin-top: 5px;
        width: 300px;
       
    }
    
}
@media screen and (max-width: 1000px) {
    .description{
        width: 50%;
    }
    
}

